
@import "./variables_fonts";


#unique-activities {
    .title_div {
        p {
            max-width: 937px;
        }
    }
    .card {
        .title_div {
            h1,h1 span {
                font-size: 40px !important;
                line-height: 55px;
            }
            .decouvrir_btn {
                max-width: 302px;
            }
            .bg-btn-numbers {
                background-color: transparent !important;
                border: 1px solid $second_color;
                width: 100%;
                &:hover {
                    background-color: $second_color !important;
                }
            }
        }
        &:hover {
            transform: scale(1.02);
            transition: .3s transform ease;
            .title_div {
                h1 {
                    color: $second_color;
                }
            }
        }
    }

}

#unique-conditionning {
    @extend #unique-activities;
    background-color: black;
    .title_div {
        p {
            color: $p_color;
        }
        h1 {
            color:white;
        }
    }
}

