@import "./variables_fonts";

.galerie_section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    ul {
        width: fit-content;
        margin: auto;
    }
    
    .bg-btn-numbers {
        background-color: transparent !important;
        border: 1px solid $second_color;
        border-radius: 0;
        max-width: 229px;
        width: 100%;
        &:hover {
            background-color: $second_color !important;
        }
    }
    
    .bg-btn-numbers.active {
        background-color: $second_color !important;
    }

    .big {
        grid-column: span 2;
        grid-row: span 4;
    }

}