@import "./variables_fonts";


.activitie-content-section {
    h5.title {
        font-family: 'Avenir Next bold';
        text-transform: uppercase;
        padding-top: 10px;
        max-width: 198px;
        margin: auto;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: $main_color;
    }

    .first-progress-bar {
        &.different-color .progress-value  {
            background: #9F9F9F;
        }
        max-width: 720px;
        margin: auto;
        .progress-value {
            background-color: $second_color;
            font-family: 'Avenir Next bold';
            text-transform: uppercase;
            padding-left: 32px;
            max-width:100%;
            text-align: end;
            height: 45px;
            animation-name: progress-animation;
            animation-duration: 1s;
            animation-delay: 1s;
            transition: .5s transform ease;
            h5 {
                font-size: 13px;
                text-align: start;
                color: white;
                position: relative;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0;
                padding: 14.5px;
            }
            span.value {
                font-size: 23px;
                line-height: 31px;
                position: relative;
                bottom: 77px;
                left: 24px;
                color: black;
            }
        }

        @keyframes progress-animation {
            from {width: 30;}
            to {width: 100%;}
          }
        .sub-ligne {
            background-color: #000000;
            height: 2px;
            position: relative;
            bottom: 23px;
            z-index: -1;
        }
    }

}


.activitie-content-section2 {
    background-color: black;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 685.57px;
        max-height: 703.52px;
    }
    .title_div {
        p,h1 {
            text-align: start;
            max-width: 569px !important;
            margin: auto !important;
        }
        h1 {
            color: white !important;
        }
        p {
            color: $p_color;
        }
    }
}

