@font-face {
    font-family: 'Avenir Next bold';
    src: url('./../fonts/AvenirNextLTPro-Bold.otf');
}
@font-face {
    font-family: 'Avenir Next Regular';
    src: url('./../fonts/AvenirNextLTPro-Regular.otf');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('./../fonts/Poppins-Regular.ttf');
}

///////////////// Variables /////////////////////////
    $main_color: #000000;
    $second_color: #B9A974;
    $p_color:  #C8C8C8;
///////////////// Variables /////////////////////////
/// 
/// 